<div class="content">
  <h1>Stylists</h1>
  <div class="flex-container">
    <div class="card">
      <div class="card-header"><h4>Dan</h4></div>
      <div class="card-body">
        <img class="card-img-top" src="../../assets/images/dan.jpg" />
        <p class="card-text my-3">
          Dan has been cutting hair since 2000 when he was still in school.
          Hairdressing has allowed him to travel the world multiple times. From
          World Hairdressing championships in Europe and the USA to managing
          salons in New Zealand and Australia. He opened his first salon, Tooth
          & Nail in Sydney. It was one of the first salons in the area to offer
          gender neutral pricing. His second and third salons have both been in
          Cornwall, UK and also follow the Gender Neutral model. Dan is
          passionate about the craft of hairdressing and after 22 years in the
          industry, is still eager to learn and share knowledge with others.
          When you visit a salon that Dan has been involved with creating, you
          can be sure that every detail of your visit has been paid attention
          to.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><h4>Mystery Stylist</h4></div>
      <div class="card-body">
        <img class="card-img-top" src="../../assets/images/topsecret.jpg" />
        <p class="card-text my-3">
          We are very excited to say that we are currently working towards
          adding an incredibly talented new stylist to our team. No further
          details can be given until this has been confirmed but watch this
          space for future updates!
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><h4>Mystery Colour Technician</h4></div>
      <div class="card-body">
        <img class="card-img-top" src="../../assets/images/topsecret.jpg" />
        <p class="card-text my-3">
          We are very excited to say that we are currently working towards
          adding an incredibly talented new colour technician to our team. No
          further details can be given until this has been confirmed but watch
          this space for future updates!
        </p>
      </div>
    </div>
  </div>
</div>
