.flex-container {
  display: flex;
  height: 80vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.card {
  width: min(90vw, 500px);
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
}

.card-body {
  height: auto;
  position: relative;
}

.card-header {
  background-color: rgb(33, 37, 41);
}

.card-header > h4 {
  color: var(--green);
}

.card img {
  margin: 30px 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card p {
  font-size: 1em;
}

.social img {
  height: 30px;
  width: 30px;
  margin: 10px 11px;
}

.left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.right {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Small */
@media (max-width: 800px) {
  .text {
    margin-bottom: 30px;
  }
}
