<div class="content">
  <h1>Stylists</h1>
  <div class="flex-container">
    <div class="card">
      <div class="card-header"><h4 class="pt-2 green">Dan Blakemore</h4></div>
      <div class="card-body">
        <img
          class="card-img-top"
          src="../../assets/images/staff/dan-blakemore.jpg"
        />
        <p class="text mt-2">
          Dan has been cutting hair since 2000 when he was still in school.
          Hairdressing has allowed him to travel the world multiple times, from
          World Hairdressing championships in Europe and the USA to managing
          salons in New Zealand and Australia. He opened his first salon, 'Tooth
          & Nail' in Sydney. It was one of the first salons in the area to offer
          gender-neutral pricing. His second and third salons have both been in
          Cornwall, UK and also follow the gender-neutral model. Dan is
          passionate about the craft of hairdressing and after 22 years in the
          industry, is still eager to learn and share knowledge with others.
          When you visit a salon that Dan has been involved with creating, you
          can be sure that every detail of your visit has been paid attention
          to.
        </p>
        <div class="social left">
          <a href="https://www.facebook.com/blakemore86"
            ><img src="../../assets/images/facebook.png"
          /></a>
        </div>
        <div class="social right">
          <a href="https://www.instagram.com/dan.blakemore"
            ><img src="../../assets/images/instagram.png"
          /></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><h4 class="pt-2 green">Lizzy Brooks</h4></div>
      <div class="card-body">
        <img
          class="card-img-top"
          src="../../assets/images/staff/lizzy-brooks.jpg"
        />
        <div class="social right">
          <a href="https://www.instagram.com/lizzerrrd_prime/"
            ><img src="../../assets/images/instagram.png"
          /></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="pt-2 green">Owain 'OB' Barrett</h4>
      </div>
      <div class="card-body">
        <img
          class="card-img-top"
          src="../../assets/images/staff/owain-barrett.jpg"
        />
        <div class="social right">
          <a href="https://www.instagram.com/obthebarber11/"
            ><img src="../../assets/images/instagram.png"
          /></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><h4 class="pt-2 green">Dan Brooks</h4></div>
      <div class="card-body">
        <img
          class="card-img-top"
          src="../../assets/images/staff/dan-brooks.jpg"
        />
        <div class="social right">
          <a href="https://www.instagram.com/dan_prime/"
            ><img src="../../assets/images/instagram.png"
          /></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><h4 class="pt-2 green">Abbie Dobinson</h4></div>
      <div class="card-body">
        <img
          class="card-img-top"
          src="../../assets/images/staff/abbie-dobinson.jpg"
        />
        <div class="social right">
          <a href="https://www.instagram.com/dobinsonhair/"
            ><img src="../../assets/images/instagram.png"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
