.card {
  width: min(90vw, 400px);
  height: 25em;
  margin: 20px;
  border: none;
}

.card-body {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dan-blakemore {
  background-image:  url("../../assets/images/staff/dan-blakemore.jpg");
}


.lizzy {
  background-image:  url("../../assets/images/staff/lizzy-brooks.jpg");
}

.owain {
  background-image:  url("../../assets/images/staff/owain-barrett.jpg");
}

.dan-brooks {
  background-image:  url("../../assets/images/staff/dan-brooks.jpg");
}

.abbie {
  background-image:  url("../../assets/images/staff/abbie-dobinson.jpg");
}

.card-header {
  background-color: rgb(33, 37, 41);
}

.card-header > h4 {
  color: var(--orange);
}

.card img {
  margin: 30px 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card p {
  font-size: 1em;
}

.social img {
  height: 30px;
  width: 30px;
  margin: 10px 11px;
}

.left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.right {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Small */
@media (max-width: 800px) {
  .text {
    margin-bottom: 30px;
  }
}
