.navbar {
  height: 65px;
  position: relative;
  margin: auto;
}

.navbar-toggler {
  margin-left: 10px;
}

.navbar-nav {
  position: absolute;
  z-index: 1;
}

.nav-item {
  margin: 0 0.5em;
}

.nav-item > a:hover {
  color: var(--orange)
}

.navbar-brand {
  margin: 0 1rem;
  padding-bottom: 0.5em;
  font-size: 1.5em;
}

/* .navbar-brand span {
  letter-spacing: 0.8rem;
} */

.navbar-brand img {
  width: 5em;
}

.green {
  color: var(--orange) !important;
}

.social {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.social img {
  height: 35px;
  width: 35px;
  margin: 5px 10px;
}

/* Big */
@media (min-width: 788px) {
  #social-big {
    display: flex;
  }
  #social-small {
    display: none;
  }
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}

/* Medium */
@media (max-width: 940px) and (min-width: 787px) {
  .navbar-collapse {
    justify-content: center;
  }
  .navbar-nav .nav-link {
    font-size: 1.6vw;
    padding: 0 0.5vw !important;
  }
}

/* Small */
@media (max-width: 787px) {
  .navbar-collapse {
    margin: auto;
  }
  .navbar-nav {
    width: 100%;
  }
  .nav-item {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    padding: 5px;
    margin: 0;
  }
  #social-big {
    display: none;
  }
  #social-small {
    display: flex;
  }
}
