<nav class="navbar navbar-expand-custom navbar-dark bg-dark">
  <a (click)="closeMenu()" class="navbar-brand" id="main" routerLink="home">
    <img alt="Koyo logo" src="../../assets/images/logos/newlogo-lightorange.png"
    /></a>
  <button
    (click)="isMenuOpen ? closeMenu() : openMenu()"
    class="navbar-toggler order-first"
    type="button"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="social" id="social-small">
    <a href="{{ facebookUrl }}"
    ><img alt="Facebook logo" src="../../assets/images/icons/facebook.png"
    /></a>
    <a href="{{ instagramUrl }}"
    ><img alt="Instagram logo" src="../../assets/images/icons/instagram.png"
    /></a>
  </div>
  <div
    [ngClass]="{ show: isMenuOpen }"
    class="collapse navbar-collapse order-last"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          (click)="closeMenu()"
          class="nav-link"
          id="gallery"
          routerLink="gallery"
          routerLinkActive="green"
        >GALLERY</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="closeMenu()"
          class="nav-link"
          id="stylists"
          routerLink="stylists"
          routerLinkActive="green"
        >STYLISTS</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="closeMenu()"
          class="nav-link"
          id="prices"
          routerLink="prices"
          routerLinkActive="green"
        >PRICES</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="closeMenu()"
          class="nav-link"
          id="colour"
          routerLink="colour"
          routerLinkActive="green"
        >COLOUR SERVICES</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="closeMenu()"
          class="nav-link"
          id="info"
          routerLink="info"
          routerLinkActive="green"
        >SALON INFO</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:info@koyohair.com" id="mail"
        >CONTACT</a
        >
      </li>
    </ul>
  </div>
  <div class="social order-last" id="social-big">
    <a href="https://www.facebook.com/koyohairtruro"
    ><img alt="Facebook logo" src="../../assets/images/icons/facebook.png"
    /></a>
    <a href="https://www.instagram.com/koyohairtruro/"
    ><img alt="Instagram logo" src="../../assets/images/icons/instagram.png"
    /></a>
  </div>
</nav>
