.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  margin: 0;
  padding: 0 50px;
  overflow-y: scroll;
  z-index: -1;
}

.flex-container img {
  object-fit: cover;
  min-height: 350px;
  width: 350px;
  height: 350px;
  margin: 15px;
}

img {
  opacity: 1;
  transition: opacity 1s;
}

img[loading] {
  opacity: 0;
}

/* Small */
@media (max-width: 660px) {
  .flex-container {
    padding: 0;
  }
  .flex-container img {
    width: 90%;
    max-width: 350px;
    height: auto;
    margin: 15px 0;
  }
}
