<div class="content">
  <h1>Gallery</h1>
  <div *ngIf="images" class="flex-container">
    <div *ngFor="let image of images" class="image-container">
      <img
        #imageTag
        (load)="fadeInImage(imageTag)"
        *ngIf="!isVideo(image)"
        [src]="image"
        alt="Koyo image"
        loading="lazy"
      />
      <video
        #videoTag
        (loadedmetadata)="fadeInVideo(videoTag)"
        *ngIf="isVideo(image)"
        [src]="image"
        controls
        loading="lazy"
        preload="metadata"
      ></video>
    </div>
  </div>
</div>
