.flex-container img, video {
  object-fit: cover;
  min-height: 350px;
  width: 350px;
  height: 350px;
  margin: 15px;
}

.image-container {
  padding: 0;
  margin: 0;
  width: min(90vw, 500px);
}

img, video {
  opacity: 1;
  transition: opacity 1s;
}

img[loading], video[loading] {
  opacity: 0;
}

/* Small */
@media (max-width: 660px) {
  .flex-container {
    padding: 0;
  }

  .flex-container img, .flex-container video {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 15px 0;
  }
}
