<div class="content">
  <div class="darkened">
    <h1>Salon Info</h1>
    <h4 class="mt-5 mb-2s">Opening Hours</h4>
    <p class="text mt-0">
      Monday - Thursday: 8-4<br />
      Friday - Saturday: 8-6<br />
      Sunday: 10-4
      <!-- Monday: 8-4<br />
      Tuesday: 8-4<br />
      Wednesday: 8-4<br />
      Thursday: 8-4<br />
      Friday: 8-6<br />
      Saturday: 8-6<br />
      Sunday: 10-4 -->
    </p>
    <h4 class="mt-5 mb-2">Access</h4>
    <p class="text m-0">
      Please note that due to Koyo being situated in an old hay loft, the salon
      is only accessible via stairs.<br />
      If you have mobility issues or any other concerns please don't hesitate to
      <a href="mailto:info@koyohair.com">contact us</a>. <br />If there's any
      way we can help, we will be happy to do so.
    </p>
    <h4 class="mt-5 mb-2s last">Parking</h4>
    <p class="text mt-0 mb-3">
      Koyo is situated in the heart of Truro so any car park is suitable.
      <br />Marks & Spencers and Garras Wharf are the closest.
    </p>
  </div>
</div>
