a {
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

/* Small */
@media (max-width: 600px) {
  h4 {
    margin-top: 25px !important;
  }
  .text {
    padding: 0;
  }
}
