.flex-container {
  overflow: hidden;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}


.map-container {
  display: flex;
  justify-content: center;
}

.map {
  margin-top: 10px;
  width: min(300px, 70vw);
  height: min(300px, 70vw);
}

/* Small */
@media (max-width: 600px) {
  .darkened {
    overflow-y: scroll;
  }

  .text {
    padding: 0;
  }

  .last {
    margin-top: 30px !important;
  }

}
