<div class="content">
  <div class="darkened">
    <h1>Prices</h1>
    <p class="text">
      Koyo embraces the independent and individual nature of all the stylists
      who share the space.</p>
      <p>This means that all prices are set at the stylist's discretion.</p>
      <p>Please click the booking link below to see up-to-date prices and
      book your appointment.
    </p>
    <a href="{{ booksyUrl }}"
      ><button class="filled-button mb-3" type="button">Book now</button></a
    >
  </div>
</div>
