<div class="content">
  <div class="keen-slider" #sliderRef>
    <div class="keen-slider__slide number-slide1">
      <img src="../../assets/images/colour/colour1.jpg" alt="Colour Policy" />
    </div>
    <div class="keen-slider__slide number-slide2">
      <img
        src="../../assets/images/colour/colour2.jpg"
        alt="Skin Allergy Tests"
      />
    </div>
    <div class="keen-slider__slide number-slide3">
      <img src="../../assets/images/colour/colour3.jpg" alt="Deposits" />
    </div>
    <div class="keen-slider__slide number-slide4">
      <img
        src="../../assets/images/colour/colour4.jpg"
        alt="Cancellation & Rescheduling"
      />
    </div>
    <div class="keen-slider__slide number-slide5">
      <img
        src="../../assets/images/colour/colour5.jpg"
        alt="Pregnancy & Breastfeeding"
      />
    </div>
  </div>
</div>
