<div class="content">
  <div class="darkened">
    <h1>Colour Services</h1>
    <p class="text">
      Our colour services all require an up-to-date skin test and a consultation
      with one of our colour technicians.
      <br />For this reason you can’t book colour services online but one of our
      technicians will be more than happy to help.
    </p>
    <p class="text mb-3">
      You can give us a call, <a href="mailto:info@koyohair.com">email us</a> or
      to one of our technicians directly via
      <a href="https://www.instagram.com/koyohairtruro/">Instagram</a>.
    </p>
  </div>
</div>
