<div class="content">
  <div #sliderRef class="keen-slider">
    <div class="keen-slider__slide number-slide1">
      <img alt="Colour Policy" src="../../assets/images/colour/colour1.jpg"/>
    </div>
    <div class="keen-slider__slide number-slide2">
      <img
        alt="Skin Allergy Tests"
        src="../../assets/images/colour/colour2.jpg"
      />
    </div>
    <div class="keen-slider__slide number-slide3">
      <img alt="Deposits" src="../../assets/images/colour/colour3.jpg"/>
    </div>
    <div class="keen-slider__slide number-slide4">
      <img
        alt="Cancellation & Rescheduling"
        src="../../assets/images/colour/colour4.jpg"
      />
    </div>
    <div class="keen-slider__slide number-slide5">
      <img
        alt="Pregnancy & Breastfeeding"
        src="../../assets/images/colour/colour5.jpg"
      />
    </div>
  </div>
</div>
