@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Racing+Sans+One&display=swap");

:root {
  --blue: #69c9ff;
  --green: #73ffd1;
  --orange: #ffc373;
  --pink: #ffc3df;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Racing Sans One", cursive;
}

.black {
  color: black !important;
}

.white {
  color: white !important;
}

body {
  background-image: url("./assets/images/backgrounds/background-salon-comp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.content {
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.content > h1 {
  font-size: 2.5em;
  margin: 10px;
  color: var(--pink);
}

.darkened {
  padding: 10px;
  max-width: min(90%, 1000px);
  max-height: 85vh;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  margin: 10px auto;
}

.button {
  background-color: transparent;
  color: #73ffd1;
  border: 2px solid #73ffd1;
  border-radius: 5px;
  padding: 12px 32px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #73ffd1;
  color: white;
}

.filled-button {
  background-color: rgba(255, 195, 223, 0.4);
  color: rgb(33, 37, 41);
  font-weight: 500;
  border: 2px solid rgb(33, 37, 41);
  border-radius: 4px;
  padding: 8px 25px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.filled-button:hover {
  background-color: rgba(255, 195, 223, 0.8);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 0 50px;
  overflow-y: scroll;
  z-index: -1;
}

.text {
  color: black;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0px;
  margin: 30px 0;
  text-align: center;
}

/* Medium */
@media (max-width: 940px) {
  .text {
    font-size: 2vw;
  }
  .darkened {
    padding: 30px;
  }
}

/* Small */
@media (max-width: 800px) {
  .content > h1 {
    font-size: 2.5em;
    margin: 10px 0;
  }
  .text {
    font-size: 1em;
    padding: 0 5px;
  }
  .darkened {
    padding: 20px;
  }
}
