.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.logo-container {
  text-align: center;
  margin-top: 100px;
}

.koyo-logo {
  width: 700px;
  max-width: 70%;
}

.wide {
  letter-spacing: 5rem;
}

.blurb {
  color: var(--pink);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding: 0 20px;
  margin: 40px 0;
  text-align: center;
}


/* Small */
@media (max-width: 600px) {
  .flex-container {
    justify-content: center;
    margin-top: 40px;
  }

  .logo-container {
    text-align: center;
    margin-top: 0;
  }

  .blurb {
    font-size: 1.5em;
    padding: 0 10px;
  }
}
