.flex-container {
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  color: white;
  font-size: 10em;
  margin-top: 150px;
}

.wide {
  letter-spacing: 5rem;
}

.blurb {
  color: var(--pink);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding: 0 20px;
  margin: 20px 0;
  text-align: center;
}

/* Medium */
@media (max-width: 940px) {
  h1 {
    font-size: 18vw;
  }
  .wide {
    letter-spacing: 9vw;
  }
  .blurb {
    font-size: 3.2vw;
  }
}

/* Small */
@media (max-width: 600px) {
  .blurb {
    font-size: 1.5em;
    padding: 0 10px;
  }
}
