.flex-container {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 10em;
  margin-top: 180px;
}

.wide {
  letter-spacing: 5rem;
}

.blurb {
  color: lightgrey;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 0 20px;
  margin: 20px 0;
  text-align: center;
}

/* Medium */
@media (max-width: 940px) {
  h1 {
    font-size: 18vw;
  }
  .wide {
    letter-spacing: 9vw;
  }
  .blurb {
    font-size: 3.2vw;
  }
}

/* Small */
@media (max-width: 600px) {
  .blurb {
    font-size: 1em;
    padding: 0 10px;
  }
}
